/*_ RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* VARIABLES */
:root {
  --dark-purple: rgb(21, 20, 26);
  --moderate-purple: rgb(34, 33, 43);
  --blue: rgb(40, 108, 253);
  --avatar-height: 40px;
  --avatar-margin: 1rem;
  --text-color: white;
  --logo-font: 'Unlock', serif;
}

/*_ UTILITY CLASSES  */

.rounded {
  border-radius: 9999px;
}

/*_ STYLES */

body {
  background-color: var(--dark-purple);
}

.App {
  max-width: 728px;
  margin: 0 auto;
}

.SignIn {
  display: flex;
  justify-content: center;
}

.App-header {
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 10vh;
  background: #000;
}
.logo {
  flex: 1;
  font-family: var(--logo-font);
  font-size: 1.5rem;
  color: var(--text-color);
}
.CustomButton {
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: black;
  color: whitesmoke;
  font-weight: bold;
  margin: 0.2rem;
}

.CustomButton:not(:disabled):hover {
  cursor: pointer;
  background-color: rgb(54, 54, 54);
}
.CustomButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* chatroom */

.ChatRoom-main {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: scroll;
}

.ChatRoom-form {
  width: 100%;
  min-height: 10vh;
  position: sticky;
  bottom: 0;
  display: flex;

  background: var(--moderate-purple);
}
input[type="text"] {
  background: var(--moderate-purple);
  color: white;
  padding: 0.4rem 1rem;
  border: none;
  flex: 1;
}
.ChatMessage {
  display: flex;
  align-items: center;
  margin: 0.2rem;
}
.ChatMessage.own {
  flex-direction: row-reverse;
}

.chat-bubble {
  min-height: var(--avatar-height);

  max-width: 500px;
  background-color: rgb(73, 73, 73);
  color: white;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 2rem;
}
.chat-bubble.own {
  background-color: var(--blue);
}

.avatar {
  height: var(--avatar-height);
  width: var(--avatar-height);
}
